<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 position-relative">
        <img
          
          class="position-absolute  start-50 translate-middle-x col-lg-5 imageAnimation"
          src="https://assets.dochipo.com/editor/animations/404-error/f080489f-96a5-4d72-ab1e-6bc23de1964e.gif"
          alt=""
        />

        <div class="four_zero_four_bg">
          <h1 class="text-center text-white">page not found</h1>
        </div>

        <div class="contant_box_404 row">
          <h3 class="h2 text-white text-center ">Look like you're lost</h3>

          <p class=" text-white text-center ">the page you are looking for not avaible!</p>
            <div class="link_404 row justify-content-center ">
                 <a class="col-lg-2 col-6 text-center border  rounded-pill" routerLink="/" >Go to Home</a>
            </div>
         
        </div>
      </div>
    </div>
  </div>
</section>
