<div *ngIf="showMovie" class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="card shadowWhite">
                    <img class="card-img" [src]="showMovie.movie?.poster_path" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h2 class="text-white playfair-display italic mb-5">{{showMovie.movie?.title}}</h2>
                <ng-container *ngFor="let i of showMovie.movie?.genres">
                    <span class="bg-warning px-3 me-2 py-1 rounded-4 italic">{{i}}</span>
                </ng-container>
                <p class="text-white playfair-display fs-5 my-3">{{showMovie.movie?.overview}}</p>
            </div>
            <div class="col-12 col-lg-2 row align-items-center ">
                <!-- <app-download></app-download> -->
                 <div>
                     <app-download class="d-block mb-3"></app-download>
                     <app-watch class="d-block mt-5"></app-watch>
                 </div>
            </div>
            <div>
                <h2 class="text-white playfair-display italic mt-5 mb-3">Watch other shows</h2>
                <app-create-cards *ngIf="showMovie.related" [arraymovies]="showMovie.related" [category]="category"></app-create-cards>
            </div>
        </div>  
    </div>
</div>+
