<div class="row">
    <div class=" col-6 col-md-4 col-lg-2  filmcard position-relative mb-4" *ngFor="let card of arraymovies ">
        <span
            class="position-absolute top-0 start-0 px-2   me-2 bg-warning genres playfair-display z-1 ">{{card.genres[0]}}</span>
        <div class="overflow-hidden" >
    
            <div class="card text-bg-dark col-12">
                <img [src]="card.poster_path" class="card-img" alt="image" loading="lazy">
                <div class="card-img-overlay  top-50 start-50 translate-middle" >
                    <app-go-single-page *ngIf="card?._id" [id]="card?._id" [category]="category"></app-go-single-page>
    
                </div>
            </div>
        </div>
    </div>
    
</div>