<div class="bg-white h-100">
  <div class="container-fluid pt-4 bg-white">
    <div class="row justify-content-center">
      <div class="row justify-content-center col-12 col-lg-6 mt-5">
        <h4 class="text-center text-shadow">
          A graph showing the number of movies added relative to time.
        </h4>
        <div style="width: 500px; height: 500px" class="">
          <canvas #myChart></canvas>
        </div>
      </div>
      <div class="row justify-content-center col-12 col-lg-6 mt-5">
        <h4 class="text-center text-shadow">
          A graph showing the number of movies relative to category.
        </h4>
        <div style="width: 800px; height: 500px" class="">
          <canvas #categorybarmovie></canvas>
        </div>
      </div>
      <div class="row justify-content-center col-12 col-lg-6 mt-5">
        <h4 class="text-center text-shadow">
          A graph showing the number of visits per day.
        </h4>
        <div style="width: 800px; height: 500px" class="">
          <canvas #visitsChart></canvas>
        </div>
      </div>
      <div class="row justify-content-center col-12 col-lg-6 mt-5">
        <h4 class="text-center text-shadow">
          A graph showing the number of visits per hour.
        </h4>
        <div style="width: 800px; height: 500px" class="">
          <canvas #visitsChartParHoure></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
