<div class="container mt-4">
  <form class="row" (ngSubmit)="submitEdit()" #movieForm="ngForm">
    <div class="mb-3 col-6">
      <label for="title" class="form-label text-white">title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        [(ngModel)]="movie.title"
      />
    </div>
    <div class="mb-3 col-6">
      <label for="collectionName" class="form-label text-white">
        collection Name</label
      >
      <input
        type="text"
        name="collectionName"
        class="form-control"
        id="collectionName"
        [(ngModel)]="movie.collectionName"
      />
    </div>
    <div class="mb-3 col-12">
      <label for="overview" class="form-label text-white">Description</label>
      <textarea
        type="text"
        rows="5"
        class="form-control"
        id="overview"
        name="overview"
        [(ngModel)]="movie.overview"
      >
      </textarea>
    </div>
    <div class="row align-items-stretch my-3">
      <div class="col-12 col-lg-3 d-flex justify-content-center">
        <div class="col-12">
          <label for="image-poster" class="form-label text-white">Poster</label>
          <img [src]="previewImage" class="col-12" [alt]="movie.title" />
          <div class="input-group d-flex align-items-center">
            <input
              type="text"
              rows="3"
              class="form-control"
              [(ngModel)]="urlImage"
              placeholder="change image "
              name="imageUrl"
              class="form-control"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="updateImage()"
            >
              <i class="fa-solid fa-eye"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9 d-flex justify-content-center">
        <div class="col-12 col-lg-12 overflow-hidden">
          <label for="TrailerVideo" class="form-label text-white col-12"
            >Trailer Video</label
          >
          <p *ngIf="!previewTrailer" class="text-white fs-1">
            video is not found
          </p>
          <iframe
            *ngIf="previewTrailer"
            class="col-12"
            width=""
            height="445px"
            [src]="previewTrailer"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>

          <div class="input-group col-12  align-items-center">
            <input
              type="text"
              class=""
              class="form-control"
              [(ngModel)]="urlTrailer"
              placeholder="change Trailer "
              name="TrailerUrl"
              class="form-control"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="updateTrailer()"
            >
              <i class="fa-solid fa-eye"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3 col-12 col-md-6 row align-self-start genres">
      <label for="genres" class="form-label text-white col-12"> genres</label>
      <div
        *ngFor="let genre of genres; let i = index; trackBy: trackByIndex"
        class="col-6 col-md-12"
      >
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Genre"
            [name]="genres[i]"
            [(ngModel)]="genres[i]"
            [ngModelOptions]="{ standalone: true }"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="
              genres.length - 1 === i || genres.length == 1
                ? handelGennresInpout()
                : removeGenre(i)
            "
          >
            {{ genres.length - 1 === i || genres.length == 1 ? "+" : "-" }}
          </button>
          <button
            *ngIf="genres.length - 1 == i && genres.length > 1"
            class="btn btn-outline-secondary"
            type="button"
            (click)="removeGenre(i)"
          >
            -
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 text-end mt-3">
      <button type="submit" class="btn btn-success" type="submit">
        Save
      </button>
    </div>
  </form>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div
      id="liveToast"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body">Hello, world! This is a toast message.</div>
    </div>
  </div>
</div>
